.features {
  display: flex;
  align-items: center;
  width: 100%;
  background-size: 100% auto;
  background: url('./waves-1.svg') no-repeat center bottom;
  padding:8rem 0;
}

.featureSvg {
  height: 200px;
  width: 200px;
}